body {
  background: #fff4f2;
  color: #44232e;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  margin: 0; }

p a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #ffd1d2;
  box-shadow: inset 0 -4px 0 #ffd1d2;
  transition: background 0.3s ease-out; }

p a:hover,
p a:focus {
  background: #ffd1d2; }

p a:active,
p a:hover {
  outline: 0; }

.logo {
  height: 3rem; }

.content {
  padding: 4rem;
  color: #44232e;
  overflow: hidden; }

.asterisk {
  color: #ff7a7e; }

.greeting h4 {
  font-size: 1.78rem;
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik", sans-serf;
  margin: 3rem 0 0 0; }

.greeting h1 {
  font-size: 4.21rem;
  font-style: normal;
  font-weight: 900;
  font-family: "Playfair Display", serf;
  margin: 0; }

.labels {
  font-size: 1.78rem;
  font-style: normal;
  font-weight: 400;
  font-family: "Playfair Display", serf;
  margin: -8px 0 0 0; }

.blurb {
  margin-top: 2rem;
  font-size: 1.33rem;
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik", sans-serf;
  width: 752px;
  line-height: 1.5; }

.fall-plans {
  margin-top: 0; }

.blurb hr {
  width: 3rem;
  height: 4px;
  background: #ff7a7e;
  outline: 0;
  margin: 0;
  border: none; }

.disclaimer {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik", sans-serf;
  color: #ff7a7e;
  margin: 3.5rem 0 8px 0; }

.journal-link {
  display: inline-block;
  margin-top: 1.5rem;
  font-size: 1.33rem;
  font-style: normal;
  font-weight: 700;
  font-family: "Playfair Display", serf;
  color: inherit;
  text-decoration: none;
  transition: border 0.15s ease-out;
  border-bottom: 0 solid #ffd1d2; }

.journal-link:hover,
.journal-link:focus {
  border-bottom: 4px solid #ffd1d2; }

.journal .logo {
  position: fixed;
  top: 4rem; }

.journal-top {
  margin: 0 14rem 48px; }

.journal-top h1 {
  margin: 0;
  font-size: 3.16rem;
  font-style: italic;
  font-weight: 900;
  font-family: "Playfair Display", serf; }

.journal-top h2 {
  margin: 0 2rem;
  font-size: 2.37rem;
  font-style: italic;
  font-weight: 400;
  font-family: "Playfair Display", serf; }

.grid-container {
  width: 100%;
  max-width: 1024px;
  box-sizing: border-box;
  margin: 0 auto; }

.row {
  box-sizing: inherit; }

.row:before,
.row:after {
  box-sizing: inherit;
  content: "";
  display: table;
  clear: both; }

.col {
  box-sizing: inherit;
  float: left;
  min-height: 1px;
  width: 50%;
  padding: 0 1.5rem; }

.post h3 {
  font-size: 2.37rem;
  font-style: normal;
  font-weight: 700;
  font-family: "Playfair Display", serf;
  margin: 0;
  line-height: 1.1;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh"; }

.post p {
  line-height: 1.5; }

.post .lede {
  font-size: 1.33rem;
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik", sans-serf;
  margin: 8px 0 0 0; }

.preview {
  padding: 2rem;
  transition: box-shadow 0.3s ease-out; }

.preview:hover {
  box-shadow: inset 0 0 0 1rem #ff7a7e; }

.preview:hover h3 {
  color: #ff7a7e; }

/*# sourceMappingURL=main.css.map */
